@model UsersService.ViewModels.LoginViewModel
@{
	ViewData["Title"] = "Вход в систему";
}

<div class="row">
	<div class="col-12">
		<h1 class="mb-3">Авторизация в системе</h1>
		<form asp-action="Login" asp-controller="Auth" method="Post">
			<input type="hidden" asp-for="RedirectUrl" />
			<div class="mb-3">
				<label asp-for="Username" class="form-label"></label>
				<input type="text" class="form-control" asp-for="Username">
			</div>
			<div class="mb-3">
				<label class="form-label" asp-for="Password"></label>
				<input type="password" class="form-control" asp-for="Password">
			</div>
			<div class="text-danger" asp-validation-summary="All"></div>
			<button type="submit" class="btn btn-primary">Войти</button>
		</form>

	</div>
</div>